body, * {
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;    
    border: 2px red dotted;
    margin: 5px;

}
div {
    display: flex;
    width: 90%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 2px;
}